/* body style */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
}

/* header style */
.header {
    background-color: #fff;
    height: 72px;
    margin: 0;
}

.nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    margin-right: 76px;
}

.logo span {
    color: #2e2f42;
}

.nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav ul li {
    margin-right: 20px;
}

.nav ul li a {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
}

.nav ul li a:hover,
.nav ul li a:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
}

.address ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.address ul li {
    margin-left: 20px;
}

.address ul li a {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #434455;
}

.address ul li a:hover,
.address ul li a:focus {
    color: #404bbf;
}

/* hero style */
.hero {
    text-align: center;
    padding: 64px 32px;
    margin: 0;
    height: 600px;
    background-color: #2e2f42;
}

.hero h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 107%;
    color: #fff;
    max-width: 500px;
    letter-spacing: 0.02em;
}

.hero button {
    padding: 16px 32px;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    cursor: pointer;
}

.hero button:hover,
.hero button:focus {
    background-color: #404BBF;
}